:root {
  font: 16px / 1 sans-serif;
  background-color: #0b4f6c;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.LoginTitle {
  text-align: center;
}

.LoginWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid 1rem;
}

.SearchBar {
  display: flex;
  margin: 0rem 1rem 1rem 8rem;
}

.ListSection {
  margin: 0rem 1rem 15rem 10rem;
}

footer {
  text-align: center;
}
